*, *::before, *::after {
  box-sizing: border-box;
}

.introduction-image {
  display: flex;
}

.introduction-image img{
  width: 350px;
  height: 130px;
  margin-right: 10px;
  margin-top: 30px;
  position: relative;
  border-radius: 5px;
}

.introduction-header1 h1{
  position: absolute;
  object-fit: cover;
  margin-left: 65px;
  margin-top: -90px;
  color: #f2f2f2;
}

.introduction-header1 p{
  position: absolute;
  object-fit: cover;
  margin-left: 30px;
  margin-top: -50px;
  font-size: 15px;
  color: #f2f2f2;
}

.introduction-header1 p{
  //opacity: 1;
  display: none;
}
.introduction-header1:hover p{
  display: block;
}

.introduction-header1 h1:hover{
  transform: scale(1.2);
  transition: all 2s;
}

.introduction-header2 h1:hover{
  transform: scale(1.2);
  transition: all 2s;
}

.introduction-header2 h1{
  position: absolute;
  object-fit: cover;
  margin-left: 380px;
  margin-top: -90px;
  color: #f2f2f2;
}

.opening-hours{
  background: tomato;
  text-align: center;
  border-radius: 5px;
}

.opening-hours p{
  margin-top: -10px;

}

.my-slider-image{
  position: absolute;
  max-width: 250px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 5px;
}

.text-cell{
  color: black;
  padding-left: 270px;
}

.gallery-cell{
  padding-top: 50px;
}

.picture{
  //float: left;
  width: 33%;
  padding: 10px;
  //position: relative;
}

.gallery-image{
  position: relative;
}

.gallery-image img{
  //width: 100%;
  //height: 100%;
  //object-fit: cover;
  //display: block;
  //position: relative;
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.gallery-image img:hover{
  opacity: 0.7;
  //display: block;
}

.gallery{
  margin-top: 40px;
  justify-content: center;
  flex-wrap: wrap;
  display: inline-flex;
}

.icons{
  color: tomato;
  position: absolute;
  object-fit: cover;
  margin-top: -90px;
  margin-left: 65px;
  font-size: 20px;
  display: none;
  //opacity: 0.7;
  //transition: .3s ease;
}
.gallery-image:hover .icons{
  display: block;
}

footer a {
  color: tomato;
  padding-bottom: 100px;
  text-decoration: none;
}
